{% extends 'baseAdmin.html.twig' %}

{% block title %}New SousCategorie{% endblock %}

{% block content %}

    <h1> Ajouter SousCategorie</h1>

     {{ form (form,{'attr':{'novalidate':'novalidate'}})}}

{% endblock%}