{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}
{% block actAbout%} class="act" {% endblock %}
{% block actHome%}{% endblock %}
{% block ShowLogin %}
{% endblock %}
{% block banner %}
    <div class="banner10" id="home1">
        <div class="container">
            <h2>About Us</h2>
        </div>
    </div>
    <!-- //banner -->

    <!-- breadcrumbs -->
    <div class="breadcrumb_dress">
        <div class="container">
            <ul>
                <li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
                <li>À propos de nous</li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="about">
        <div class="container">
            <div class="w3ls_about_grids">
                <div class="col-md-6 w3ls_about_grid_left">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <div class="col-xs-2 w3ls_about_grid_left1">
                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 w3ls_about_grid_left2">
                        <p>Sunt in culpa qui officia deserunt mollit
                            anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="col-xs-2 w3ls_about_grid_left1">
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 w3ls_about_grid_left2">
                        <p>Sunt in culpa qui officia deserunt mollit
                            anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 w3ls_about_grid_right">
                    <img src="images/77.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->

    <!-- team -->
    <div class="team">
        <div class="container">
            <h3>Meet Our Team</h3>
            <div class="wthree_team_grids">
                <div class="col-md-2 wthree_team_grid">
                    <img src="images/amirr.jpg" alt=" " class="img-responsive" />
                    <h4>Amir Hermi <span>Développeur Web</span></h4>
                    <div class="agileits_social_button">
                        <ul>
                            <li><a href="https://www.facebook.com/amir.hermi.7" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="google"> </a></li>
                            <li><a href="#" class="pinterest"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 wthree_team_grid">
                    <img src="images/hassen.jpg" alt=" " class="img-responsive" />
                    <h4>Hassen Zayani <span>Développeur Web</span></h4>
                    <div class="agileits_social_button">
                        <ul>
                            <li><a href="https://www.facebook.com/hassen.zayani.5" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="google"> </a></li>
                            <li><a href="#" class="pinterest"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 wthree_team_grid">
                    <img src="images/bilel.jpg" alt=" " class="img-responsive" />
                    <h4>Bilel Ghazouani <span>Développeur Web</span></h4>
                    <div class="agileits_social_button">
                        <ul>
                            <li><a href="https://www.facebook.com/bilel.ghazouani.359" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="google"> </a></li>
                            <li><a href="#" class="pinterest"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 wthree_team_grid" >
                    <img src="images/faten.jpg" alt=" " class="img-responsive" />
                    <h4>Feten Dridi <span>Développeur Web</span></h4>
                    <div class="agileits_social_button">
                        <ul>
                            <li><a href="https://www.facebook.com/faten.dridi.963" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="google"> </a></li>
                            <li><a href="#" class="pinterest"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 wthree_team_grid" >
                    <img src="images/khalil.jpg" alt=" " class="img-responsive" />
                    <h4>Khalil Mghirbi <span>Développeur Web</span></h4>
                    <div class="agileits_social_button">
                        <ul>
                            <li><a href="https://www.facebook.com/khalil.mghirbi.5" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="google"> </a></li>
                            <li><a href="#" class="pinterest"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                    repellat.</p>
            </div>
        </div>

    </div>
    <!-- //team -->
    <!-- team-bottom -->
    <div class="team-bottom">
        <div class="container">

            <a href="dresses.html">Shop Now</a>
        </div>
    </div>
    <!-- //team-bottom -->
    <!-- newsletter -->
    <div class="newsletter">
        <div class="container">
            <div class="col-md-6 w3agile_newsletter_left">
                <h3>Newsletter</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
            </div>
            <div class="col-md-6 w3agile_newsletter_right">
                <form action="#" method="post">
                    <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //newsletter -->
{% endblock %}

