{% extends 'base.html.twig' %}
{% block actHome%}{% endblock %}
{% block title %}Hello ReclamationController!{% endblock %}
{% block actRec%} class="act" {% endblock %}
{% block ShowLogin %}{% endblock %}
{% block banner %}
<!-- banner -->
<div class="banner10" id="home1">
    <div class="container">
        <h2>Reclamation</h2>
    </div>
</div>
<!-- //banner -->

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Reclamation</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
{% endblock %}
{% block body %}
<div class="container">
    <div class="row ">

        <div class="col-5 justify-content-center">
            <form>
                <div class="form-group timetable_sub">
                    <label for="exampleFormControlInput1">Email </label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>


                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Conténue</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div>
                    <a href="#" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Reclamer</a>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
